.flex {
  display: flex;
  flex-wrap: wrap;
}

.shopping-card {
  justify-content: space-between;
  background-color: #61dafb;
  padding: 20px 30px;
}
.product-item{
  margin-inline: auto;
  text-align: center;

}
 img{
  height: 25rem;
}
button{
  background-color: rgb(14, 89, 175);
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}